body {
    margin: 20px;
  }

  .button-container {
    text-align: center;
}

  .add-event-btn {
    background-color: rgb(24, 159, 200);
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }

  #new-event-form {
    margin-bottom: 20px;
  }

  .hidden {
    display: none;
  }

  #new-event-form input,
  #new-event-form button {
    margin: 10px 0;
    padding: 8px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .table-container {
    border: 5px solid #e6e2d3;
    border-radius: 4px;
}

  th {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    font-size:large;
  }

  td {
    border: 1px solid white;
    padding: 10px;
    text-align: center;
    background-color:  #e6e2d3
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

  button.save-btn {
    background-color:rgb(24, 159, 200);
    color: white;
  }

  button.edit-btn {
    background-color: rgb(24, 159, 200);
    color: white;
  }

  button.delete-btn {
    background-color: red;
    color: white;
  }